.swiper {
    /* トップ画像が半分に切れているので、それを制御するために!importantにして詳細度優先にしてoverflow: visibleではみ出た部分を表示しない */
    overflow: visible !important;
    /* width: 100%;
    height: 300px; */
}

.swiper-slide {
    height: 500px;
    overflow: hidden
}

/* 画像部分の調整 */
.swiper-slide > img {
    width: 100%;
    height: 100%;
    /* 横方向100%以上にならないように制御 */
    max-width: 100%;
    /* 親要素のdivと同じ大きさになるようにする */
    object-fit: cover;
    /* 以下を行うとはみ出るから、親要素にoverflow: hiddenをする */
    transform: scale(1.3);
    transition: transform 1.9s ease;
    
}

.swiper-slide-active > img {
    transform: none;
}

.swiper-slide-active .hero_title {
    /* 子要素の.hero_titleの選手名の文字がopacity0で透明から1で文字を表示する */
    opacity: 1;
    transform: translate(-50%, -50%);
}

.hero_title {
    /* 写真の上に文字の要素を入れる(親が写真で子が文字要素だから) */
    position: absolute;
    color: #fff;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* 選手名の文字を最初は透明にする */
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
}

.houses_picture {
    display: flex;
}

.houses_picture2 {
    display: flex;
}


.box {
    width: 80%;
    margin: 8px auto;
    /* 縦横の格子状に分割してレイアウト */
    display: grid;
    /* 列数を2列の縦1列に指定 */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px; /* 要素間の間隔を指定 */
}
.box img {
    width: 80%; 
    margin: 0;
    transition: transform 1s; 
}

.hover-rotate:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 640px) {
    .box {
        /* スマートフォンの場合も列数を2に指定 */
        grid-template-columns: repeat(2, 1fr);
    }
}